<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">
            <ul class="nav pcoded-inner-navbar ">

                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item">
                    <a href="/index" class="nav-link ">
                        <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon">
								<i class="feather icon-user"></i>
							</span>
                        <span class="pcoded-mtext">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a href="instructions.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-info"></i></span><span class="pcoded-mtext">Instructions</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Game</label>
                </li>
                <li class="nav-item"><a href="/levelselect.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Level Select</span></a></li>
                <li class="nav-item">
                    <a href="/customlevels" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Custom Levels</span></a>
                </li>
                <li class="nav-item">
                    <a href="/attempthistory.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-award"></i></span><span class="pcoded-mtext">Attempt History</span></a>
                </li>
                <li class="nav-item">
                    <a href="/scoreboard.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">Scoreboard</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Misc</label>
                </li>
                <li class="nav-item">
                    <a href="/settings" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext">Settings</span></a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->