{% extends "layouts/base.html" %} {% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Attempt History</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Attempt History</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ tabs ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-3">Level Type</h5>
                        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-uppercase" id="original-tab" data-toggle="tab" href="#original" role="tab" aria-controls="original" aria-selected="true">Default</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" id="custom-tab" data-toggle="tab" href="#custom" role="tab" aria-controls="custom" aria-selected="false">Custom</a>
                            </li>
                            <form class="form-inline ml-auto">
                                <div class=" form-group">
                                    <label style="margin-right: 10px;" id="selectLabel" for="levelSelect">Select Level</label>
                                    <select id="levelSelect" class="form-control">
                                    </select>
                                </div>
                            </form>
                        </ul>
                        <div class="input-group input-group-button mb-3">
                            <input type="text" id="search" class="form-control" placeholder="Search for your attempt">
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="original" role="tabpanel" aria-labelledby="original-tab">
                                <div class="card-body table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Cleared</th>
                                                    <th>Score</th>
                                                    <th>Time Taken</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody id="defaultAttemptsTable">
                                                {% for level in default_level_attempts %}
                                                <tr>
                                                    <td>{{ level[0] }}</td>
                                                    <td>{{ level[6] }}</td>
                                                    {% if level[4] == "passed" %}
                                                    <td><i class="feather mr-2 icon-check f-24"></i></td>
                                                    {% else %}
                                                    <td><i class="feather mr-2 icon-x f-24"></i></td>
                                                    {% endif %}
                                                    <td>{{ level[1] }} pts</td>
                                                    <td>{{ level[2] }}</td>
                                                    <td>{{ level[5].strftime('%d %b %Y') }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom" role="tabpanel" aria-labelledby="custom-tab">
                                <div class="card-body table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Cleared</th>
                                                    <th>Score</th>
                                                    <th>Time Taken</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody id="customAttemptsTable">
                                                {% for level in custom_level_attempts %}
                                                <tr>
                                                    <td>{{ level[0] }}</td>
                                                    <td>{{ level[6] }}</td>
                                                    {% if level[4] == "passed" %}
                                                    <td><i class="feather mr-2 icon-check f-24"></i></td>
                                                    {% else %}
                                                    <td><i class="feather mr-2 icon-x f-24"></i></td>
                                                    {% endif %}
                                                    <td>{{ level[1] }} pts</td>
                                                    <td>{{ level[2] }}</td>
                                                    <td>{{ level[5].strftime('%d %b %Y') }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/attempt_history.js') }}"></script>
{% endblock javascripts %}