{% extends "layouts/base.html" %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/index.css"></link>
{% endblock stylesheets %}

<title>{% block title %} Game Page {% endblock title %}</title>
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.sound.min.js"></script>

<script src="https://unpkg.com/blockly/blockly.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameBackgroundParticle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameBackground.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/sketch.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameMenu.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameState.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameScore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameMap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GamePlayer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameCommands.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameData.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameHP.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameConsole.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GamePauseMenu.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/GameLeaderboard.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/game/draggable.js') }}"></script>

{% endblock javascripts %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Game</h5>
                        <div id="canvasHolder" align="center"></div>
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-c-blue order-card">
                            <div class="card-body">
                                <h6 class="text-white">Orders Received</h6>
                                <h2 class="text-right text-white"><i
                                        class="feather icon-shopping-cart float-left"></i><span>486</span></h2>
                                <p class="m-b-0">Completed Orders<span class="float-right">351</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-c-green order-card">
                            <div class="card-body">
                                <h6 class="text-white">Total Sales</h6>
                                <h2 class="text-right text-white"><i
                                        class="feather icon-tag float-left"></i><span>1641</span></h2>
                                <p class="m-b-0">This Month<span class="float-right">213</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-c-yellow order-card">
                            <div class="card-body">
                                <h6 class="text-white">Revenue</h6>
                                <h2 class="text-right text-white"><i
                                        class="feather icon-repeat float-left"></i><span>$42,562</span></h2>
                                <p class="m-b-0">This Month<span class="float-right">$5,032</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- [ sample-page ] end -->
        </div>
        
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}
