{% extends "layouts/base.html" %}

{% block title %} Sample Page {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Instructions</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Instructions</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h2>Quick start guide to get you started!</h2>
						</div>
						<div class="card-header">
							<h3>How do i play this game?</h2>
						</div>
						<div class="card-body">
							<ul class="list-view"> 
								<div class="card list-view-media">
									<div class="card-block">
										<p><img src="\static\assets\images\gamemap.jpg" alt="arrowkeys" style="width:500px;height:500px;margin-right:50px;"></p>
										<p>The rule of this game is simple, make your way to the endpoint and earn as much point as possible! </p>
									</div>
								</div>
								<div class="card list-view-media">
									<div class="card-block">
									<p><img src="\static\assets\images\commands.jpg" alt="arrowkeys" style="width:500px;height:500px;margin-right:15px;"></p>
									<p>Drag and drop blocks to control how your car moves!</p> 
									</div>
								</div>
								<div class="card list-view-media">
									<div class="card-block">
										<p><img src="\static\assets\images\Buff.png" alt="arrowkeys" style="width:170px;height:170px;margin-right:15px;"></p>
										<p>Pick up one of these to gain extra points!</p>
									</div>
								</div>
								<div class="card list-view-media">
									<div class="card-block">
										<p><img src="\static\assets\images\Obstacle.png" alt="arrowkeys" style="width:170px;height:170px;margin-right:15px;"></p>
										<p>Watch out for obstacles along the way! You cant proceed further upon hitting one!</p>
									</div>
								</div>
								<div class="card list-view-media">
									<div class="card-block">
										<p><img src="\static\assets\images\Debuff.png" alt="arrowkeys" style="width:170px;height:170px;margin-right:15px;"></p>
										<p>Watch out for debuff! You health will drop when you pick up one</p>
									</div>
								</div>
								<div class="card list-view-media">
									<div class="card-block">
										<p><img src="\static\assets\images\highscore.jpg" alt="arrowkeys" style="width:1100px;height:400px;margin-right:20px;"></p>
										<p>Your game ends when you run out of health or when you reach the end! Check the high score board to see your best attempts!</p>
									</div>
								</div>
							</ul>						
						</div>
						
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
