{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">Profile</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#!">Profile</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- [ breadcrumb ] end -->
		<!-- [ Main Content ] start -->
		<div class="row">
			<!-- [ sample-page ] start -->
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<h5>Edit Profile Details</h5>
						<hr>
						<form role="form" method="post" action="updateprofile">
							{% for item in data %}
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="usernameinput">Username</label>
									<input type="text" class="form-control" id="usernameinput" name="username" placeholder="Username" value={{item.username}} required>
								</div>
								<div class="form-group col-md-6">
									<label for="passwordinput">Password</label>
									<input type="password" class="form-control" id="passwordinput" name="password"
										placeholder="Password">
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="nameinput">Name</label>
									<input type="text" class="form-control" id="nameinput" name="name" placeholder="Name" value={{item.name}}>
								</div>
							</div>

							{% endfor %}
							<button type="submit" class="btn btn-primary">Save</button>
						</form>
					</div>
				</div>
				
				<!-- <div class="card">
					<div class="card-header">
						<h5>Level Select</h5>
					</div>
					<div class="card-body table-border-style">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Username</th>
									</tr>
								</thead>
								<tbody>
									{% for item in data %}
									<tr>
										<td>{{item.id}}</td>
										<td>{{item.name}}</td>
										<td>{{item.username}}</td>
										<td>{{item.password}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div> -->

			</div>
			<!-- [ sample-page ] end -->
		</div>
		<!-- [ Main Content ] end -->
	</div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}