{% extends "layouts/base.html" %}

{% block title %} Sample Page {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">Settings</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#!">Settings</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- [ breadcrumb ] end -->
		<!-- [ Main Content ] start -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-3">Vertical Pills</h5>
						<div class="row">
							<div class="col-md-3 col-sm-12">
								<ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
									aria-orientation="vertical">
									<li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill"
											href="#v-pills-home" role="tab" aria-controls="v-pills-home"
											aria-selected="true">Speed Settings</a></li>
									<!-- <li><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill"
											href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
											aria-selected="false">Profile</a></li>
									<li><a class="nav-link text-left" id="v-pills-messages-tab" data-toggle="pill"
											href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
											aria-selected="false">Messages</a></li>
									<li><a class="nav-link text-left" id="v-pills-settings-tab" data-toggle="pill"
											href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
											aria-selected="false">Settings</a></li> -->
								</ul>
							</div>
							<div class="col-md-9 col-sm-12">
								<div class="tab-content" id="v-pills-tabContent">
									<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
										aria-labelledby="v-pills-home-tab">
										<p class="mb-0">This is the settings page to adjust the speed for the speed of the Robotic Car.
											Select the speed radio button, either slow, medium or fast and then click on save to set the speed!
										</p>

										<br>
										<br>
										<br>
										<br>
			

										<form action="/settings" method="POST">

											<div class="btn-group-lg btn-group-toggle" data-toggle="buttons">
												<!-- {{speed}} -->
													{% if speed == "slow" -%}
													<label class="btn btn-secondary active">
														<input type="radio" name="speed" value="slow"> Slow</label>
													<label class="btn  btn-secondary">
														<input type="radio" name="speed" value="medium"> Medium</label>
													<label class="btn  btn-secondary">
														<input type="radio" name="speed" value="fast"> Fast</label>

													{% elif speed == "medium" -%}
														
													<label class="btn btn-secondary">
														<input type="radio" name="speed" value="slow" > Slow</label>
													<label class="btn  btn-secondary active">
														<input type="radio" name="speed" value="medium" > Medium</label>
													<label class="btn  btn-secondary">
														<input type="radio" name="speed" value="fast"> Fast</label>

													{% elif speed == "fast" -%}
														
													<label class="btn btn-secondary">
														<input type="radio" name="speed" value="slow"> Slow</label>
													<label class="btn  btn-secondary">
														<input type="radio" name="speed" value="medium"> Medium</label>
													<label class="btn  btn-secondary active">
														<input type="radio" name="speed" value="fast" > Fast</label>

													{%- endif %}

											</div>

											<br>
											<br>
											<br>
											<br>

											<button type="submit" class="btn  btn-success">Save</button>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}